.main-layout {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.bar-menu {
  display: none !important;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

.list-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
}
.rotate-open {
  animation: rotateClockwise 0.5s forwards;
}

.rotate-close {
  animation: rotateCounterClockwise 0.5s forwards;
}

@keyframes rotateClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateCounterClockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@media (max-width: 768px) {
  .bar-menu {
    display: flex !important;
    position: absolute; /* Usar 'absolute' es mejor que repetirlo */
    right: 20px;
    top: 8px; /* Alinea mejor con la parte superior */
    z-index: 1100; /* Asegura que el botón esté sobre el menú */
  }

  .list-links {
    /* Estilos base del menú móvil */
    flex-direction: column;
    justify-content: center; /* Centra los items verticalmente */
    align-items: center;
    position: fixed; /* 'fixed' para que ocupe toda la pantalla */
    top: 0;
    right: -10px;
    width: 50%;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    background-color: rgba(0, 0, 0, 0.9);

    /* --- La Magia está Aquí --- */
    /* 1. Oculta el menú por defecto moviéndolo fuera de la pantalla */
    transform: translateX(100%);
    /* 2. Añade una transición suave para la aparición y desaparición */
    transition: transform 0.3s ease-in-out;
  }

  .list-links.active {
    /* 3. Muestra el menú cuando tiene la clase 'active' */
    transform: translateX(0);
  }
}
