.tab-container {
  padding-bottom: 34px;
  margin-top: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.tab-study {
  display: grid;
  gap: 34px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 140px;
  justify-items: center;
  align-items: center;
  width: 50%;
}

.content-skills {
  display: grid;
  justify-items: center;
  align-items: center;
}

.title-study {
  font-size: 20px !important;
}

.text-about-h2 {
  font-weight: 700;
  font-size: 36px !important;
  color: #212121;
  line-height: 1;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.title-card {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .tab-study {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
