.navbar {
  max-height: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    grid-template-columns: 400px;
    width: 50%;
  }
}
