.content-banner {
  background-image: url('../../../assets/images/fondo.jpeg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.banner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-h3 {
  color: #fff;
  font-size: 24px !important;
}

.text-h1 {
  color: #fff;
  font-size: 60px !important;
  font-weight: bold;
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeDown 0.8s ease-out forwards;
}

@media (max-width: 630px) {
  .text-h1 {
    font-size: 45px !important;
  }
}

@keyframes fadeDown {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
